<div class="fondoPerf_ficha">
    <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/ficha/add" method="POST">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input name="nombre" type="text" class="form-control" placeholder="Escanor">
                        </div>
                        <div class="form-group">
                            <label>Alias</label>
                            <input name="alias" type="text" class="form-control" placeholder="Arturo el rey de Camelot">
                        </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Nivel</label>
                                    <input name="nivel" type="text" value="1" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Experiencia</label>
                                    <input name="experiencia" type="text" value="100" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Fuerza</label>
                                    <input name="fuerza" type="text" value="100" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Defensa</label>
                                    <input name="defensa" type="text" value="100" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Vitalidad</label>
                                    <input name="vitalidad" type="text" value="100" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Inteligencia</label>
                                    <input name="inteligencia" type="text" value="100" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Destreza</label>
                                    <input name="destreza" type="text" value="100" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Fe</label>
                                    <input name="fe" type="text" value="100" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Carisma</label>
                                <input name="carisma" type="text" value="100" class="form-control">
                            </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>